.or-header {
  background-color: var(--color-bg);
  padding: var(--space-l);
  text-align: center;
}

.or-logo {
  width: calc(300 / 16 * 1rem);
  height: auto;
  margin-bottom: var(--space-xl);
  padding: var(--space-m);
}

.or-nav-item {
  display: inline-block;
  margin: 0 var(--space-m) var(--space-m) 0;

  a {
    color: var(--color-accent);
  }
}

.or-main {
  width: calc(800 / 16 * 1rem);
  margin: var(--space-xl) auto;
  padding: 0 var(--space-l);
}

.or-footer {
  background-color: var(--color-bg);
  padding: var(--space-s);
  text-align: center;
  color: var(--color-muted);
}
